//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 06 08:59:46 2022
//! **************************************************************************

SCHEMATIC START;
COMP "UART_in" LOCATE = SITE "N17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "PC1_0" BEL "PC1_1" BEL "PC1_2" BEL "PC1_3" BEL
        "PC1_4" BEL "PC1_5" BEL "PC1_6" BEL "IR1_0" BEL "IR1_1" BEL "IR1_2"
        BEL "IR1_3" BEL "IR1_4" BEL "IR1_5" BEL "IR1_6" BEL "IR1_7" BEL
        "IR1_8" BEL "IR1_9" BEL "IR1_10" BEL "IR1_11" BEL "IR1_12" BEL
        "IR1_13" BEL "IR1_14" BEL "IR1_15" BEL "IR1_16" BEL "IR1_17" BEL
        "IR1_18" BEL "IR1_19" BEL "IR1_20" BEL "IR1_21" BEL "IR1_22" BEL
        "IR1_23" BEL "IR1_24" BEL "IR1_25" BEL "IR1_26" BEL "IR1_27" BEL
        "IR1_28" BEL "IR1_29" BEL "IR1_30" BEL "IR1_31" BEL "IR2_0" BEL
        "IR2_1" BEL "IR2_2" BEL "IR2_3" BEL "IR2_4" BEL "IR2_5" BEL "IR2_6"
        BEL "IR2_7" BEL "IR2_8" BEL "IR2_9" BEL "IR2_10" BEL "IR2_11" BEL
        "IR2_12" BEL "IR2_13" BEL "IR2_14" BEL "IR2_15" BEL "IR2_16" BEL
        "IR2_17" BEL "IR2_18" BEL "IR2_19" BEL "IR2_20" BEL "IR2_21" BEL
        "IR2_22" BEL "IR2_23" BEL "IR2_24" BEL "IR2_25" BEL "IR2_26" BEL
        "IR2_27" BEL "IR2_28" BEL "IR2_29" BEL "IR2_30" BEL "IR2_31" BEL
        "PC2_0" BEL "PC2_1" BEL "PC2_2" BEL "PC2_3" BEL "PC2_4" BEL "PC2_5"
        BEL "PC2_6" BEL "PC_0" BEL "PC_1" BEL "PC_2" BEL "PC_3" BEL "PC_4" BEL
        "PC_5" BEL "PC_6" BEL "prog_loader_comp/addr_cnt_out_6" BEL
        "prog_loader_comp/addr_cnt_out_5" BEL
        "prog_loader_comp/addr_cnt_out_4" BEL
        "prog_loader_comp/addr_cnt_out_3" BEL
        "prog_loader_comp/addr_cnt_out_2" BEL
        "prog_loader_comp/addr_cnt_out_1" BEL
        "prog_loader_comp/addr_cnt_out_0" BEL
        "prog_loader_comp/st_4_cnt_out_1" BEL
        "prog_loader_comp/st_4_cnt_out_0" BEL
        "prog_loader_comp/st_10_cnt_out_3" BEL
        "prog_loader_comp/st_10_cnt_out_2" BEL
        "prog_loader_comp/st_10_cnt_out_1" BEL
        "prog_loader_comp/st_10_cnt_out_0" BEL
        "prog_loader_comp/st_868_cnt_out_10" BEL
        "prog_loader_comp/st_868_cnt_out_9" BEL
        "prog_loader_comp/st_868_cnt_out_8" BEL
        "prog_loader_comp/st_868_cnt_out_7" BEL
        "prog_loader_comp/st_868_cnt_out_6" BEL
        "prog_loader_comp/st_868_cnt_out_5" BEL
        "prog_loader_comp/st_868_cnt_out_4" BEL
        "prog_loader_comp/st_868_cnt_out_3" BEL
        "prog_loader_comp/st_868_cnt_out_2" BEL
        "prog_loader_comp/st_868_cnt_out_1" BEL
        "prog_loader_comp/st_868_cnt_out_0" BEL "prog_loader_comp/instrReg_31"
        BEL "prog_loader_comp/instrReg_30" BEL "prog_loader_comp/instrReg_29"
        BEL "prog_loader_comp/instrReg_28" BEL "prog_loader_comp/instrReg_27"
        BEL "prog_loader_comp/instrReg_26" BEL "prog_loader_comp/instrReg_25"
        BEL "prog_loader_comp/instrReg_24" BEL "prog_loader_comp/instrReg_23"
        BEL "prog_loader_comp/instrReg_22" BEL "prog_loader_comp/instrReg_21"
        BEL "prog_loader_comp/instrReg_20" BEL "prog_loader_comp/instrReg_19"
        BEL "prog_loader_comp/instrReg_18" BEL "prog_loader_comp/instrReg_17"
        BEL "prog_loader_comp/instrReg_16" BEL "prog_loader_comp/instrReg_15"
        BEL "prog_loader_comp/instrReg_14" BEL "prog_loader_comp/instrReg_13"
        BEL "prog_loader_comp/instrReg_12" BEL "prog_loader_comp/instrReg_11"
        BEL "prog_loader_comp/instrReg_10" BEL "prog_loader_comp/instrReg_9"
        BEL "prog_loader_comp/instrReg_8" BEL "prog_loader_comp/instrReg_7"
        BEL "prog_loader_comp/instrReg_6" BEL "prog_loader_comp/instrReg_5"
        BEL "prog_loader_comp/instrReg_4" BEL "prog_loader_comp/instrReg_3"
        BEL "prog_loader_comp/instrReg_2" BEL "prog_loader_comp/instrReg_1"
        BEL "prog_loader_comp/instrReg_0" BEL "prog_loader_comp/byteReg_7" BEL
        "prog_loader_comp/byteReg_6" BEL "prog_loader_comp/byteReg_5" BEL
        "prog_loader_comp/byteReg_4" BEL "prog_loader_comp/byteReg_3" BEL
        "prog_loader_comp/byteReg_2" BEL "prog_loader_comp/byteReg_1" BEL
        "prog_loader_comp/fullInstr" BEL "prog_loader_comp/we_en2" BEL
        "prog_loader_comp/rx2" BEL "prog_loader_comp/rx1" BEL
        "prog_loader_comp/we_en1" BEL "alu_comp/status_reg_out_2" BEL
        "alu_comp/status_reg_out_3" BEL "alu_comp/status_reg_out_1" BEL
        "alu_comp/status_reg_out_0" BEL "leddriver_comp/counter_r_17" BEL
        "leddriver_comp/counter_r_16" BEL "leddriver_comp/counter_r_15" BEL
        "leddriver_comp/counter_r_14" BEL "leddriver_comp/counter_r_13" BEL
        "leddriver_comp/counter_r_12" BEL "leddriver_comp/counter_r_11" BEL
        "leddriver_comp/counter_r_10" BEL "leddriver_comp/counter_r_9" BEL
        "leddriver_comp/counter_r_8" BEL "leddriver_comp/counter_r_7" BEL
        "leddriver_comp/counter_r_6" BEL "leddriver_comp/counter_r_5" BEL
        "leddriver_comp/counter_r_4" BEL "leddriver_comp/counter_r_3" BEL
        "leddriver_comp/counter_r_2" BEL "leddriver_comp/counter_r_1" BEL
        "leddriver_comp/counter_r_0" BEL "leddriver_comp/segments_6" BEL
        "leddriver_comp/segments_5" BEL "leddriver_comp/segments_4" BEL
        "leddriver_comp/segments_3" BEL "leddriver_comp/segments_2" BEL
        "leddriver_comp/segments_1" BEL "leddriver_comp/segments_0" BEL
        "leddriver_comp/an_3" BEL "leddriver_comp/an_2" BEL
        "leddriver_comp/an_1" BEL "leddriver_comp/an_0" BEL
        "prog_loader_comp/ke_done" BEL "prog_loader_comp/st_868_cnt_en" BEL
        "IR2_24_1" BEL "IR2_24_2" BEL "IR2_25_1" BEL "IR2_26_1" BEL "IR2_24_3"
        BEL "IR2_27_1" BEL "IR2_28_1" BEL "clk_BUFGP/BUFG" BEL
        "prog_loader_comp/Mshreg_byteReg_8" BEL "prog_loader_comp/byteReg_8"
        BEL "data_mem_comp/Mram_DM3/HIGH" BEL "data_mem_comp/Mram_DM3/LOW" BEL
        "data_mem_comp/Mram_DM1/HIGH" BEL "data_mem_comp/Mram_DM1/LOW" BEL
        "data_mem_comp/Mram_DM2/HIGH" BEL "data_mem_comp/Mram_DM2/LOW" BEL
        "data_mem_comp/Mram_DM6/HIGH" BEL "data_mem_comp/Mram_DM6/LOW" BEL
        "data_mem_comp/Mram_DM4/HIGH" BEL "data_mem_comp/Mram_DM4/LOW" BEL
        "data_mem_comp/Mram_DM5/HIGH" BEL "data_mem_comp/Mram_DM5/LOW" BEL
        "data_mem_comp/Mram_DM9/HIGH" BEL "data_mem_comp/Mram_DM9/LOW" BEL
        "data_mem_comp/Mram_DM7/HIGH" BEL "data_mem_comp/Mram_DM7/LOW" BEL
        "data_mem_comp/Mram_DM8/HIGH" BEL "data_mem_comp/Mram_DM8/LOW" BEL
        "data_mem_comp/Mram_DM12/HIGH" BEL "data_mem_comp/Mram_DM12/LOW" BEL
        "data_mem_comp/Mram_DM10/HIGH" BEL "data_mem_comp/Mram_DM10/LOW" BEL
        "data_mem_comp/Mram_DM11/HIGH" BEL "data_mem_comp/Mram_DM11/LOW" BEL
        "data_mem_comp/Mram_DM13/HIGH" BEL "data_mem_comp/Mram_DM13/LOW" BEL
        "data_mem_comp/Mram_DM14/HIGH" BEL "data_mem_comp/Mram_DM14/LOW" BEL
        "data_mem_comp/Mram_DM15/HIGH" BEL "data_mem_comp/Mram_DM15/LOW" BEL
        "data_mem_comp/Mram_DM16/HIGH" BEL "data_mem_comp/Mram_DM16/LOW" BEL
        "reg_file_comp/Mram_RF1/SP" BEL "reg_file_comp/Mram_RF1/DP" BEL
        "reg_file_comp/Mram_RF4/SP" BEL "reg_file_comp/Mram_RF4/DP" BEL
        "reg_file_comp/Mram_RF2/SP" BEL "reg_file_comp/Mram_RF2/DP" BEL
        "reg_file_comp/Mram_RF3/SP" BEL "reg_file_comp/Mram_RF3/DP" BEL
        "reg_file_comp/Mram_RF7/SP" BEL "reg_file_comp/Mram_RF7/DP" BEL
        "reg_file_comp/Mram_RF5/SP" BEL "reg_file_comp/Mram_RF5/DP" BEL
        "reg_file_comp/Mram_RF6/SP" BEL "reg_file_comp/Mram_RF6/DP" BEL
        "reg_file_comp/Mram_RF10/SP" BEL "reg_file_comp/Mram_RF10/DP" BEL
        "reg_file_comp/Mram_RF8/SP" BEL "reg_file_comp/Mram_RF8/DP" BEL
        "reg_file_comp/Mram_RF9/SP" BEL "reg_file_comp/Mram_RF9/DP" BEL
        "reg_file_comp/Mram_RF13/SP" BEL "reg_file_comp/Mram_RF13/DP" BEL
        "reg_file_comp/Mram_RF11/SP" BEL "reg_file_comp/Mram_RF11/DP" BEL
        "reg_file_comp/Mram_RF12/SP" BEL "reg_file_comp/Mram_RF12/DP" BEL
        "reg_file_comp/Mram_RF14/SP" BEL "reg_file_comp/Mram_RF14/DP" BEL
        "reg_file_comp/Mram_RF15/SP" BEL "reg_file_comp/Mram_RF15/DP" BEL
        "reg_file_comp/Mram_RF16/SP" BEL "reg_file_comp/Mram_RF16/DP" BEL
        "prog_mem_comp/Mram_PM111/SP" BEL "prog_mem_comp/Mram_PM111/DP" BEL
        "prog_mem_comp/Mram_PM222/SP" BEL "prog_mem_comp/Mram_PM222/DP" BEL
        "prog_mem_comp/Mram_PM112/SP" BEL "prog_mem_comp/Mram_PM112/DP" BEL
        "prog_mem_comp/Mram_PM221/SP" BEL "prog_mem_comp/Mram_PM221/DP" BEL
        "prog_mem_comp/Mram_PM1_RAMA" BEL "prog_mem_comp/Mram_PM1_RAMB" BEL
        "prog_mem_comp/Mram_PM1_RAMC" BEL "prog_mem_comp/Mram_PM1_RAMD" BEL
        "prog_mem_comp/Mram_PM10_RAMA" BEL "prog_mem_comp/Mram_PM10_RAMB" BEL
        "prog_mem_comp/Mram_PM10_RAMC" BEL "prog_mem_comp/Mram_PM10_RAMD" BEL
        "prog_mem_comp/Mram_PM12_RAMA" BEL "prog_mem_comp/Mram_PM12_RAMB" BEL
        "prog_mem_comp/Mram_PM12_RAMC" BEL "prog_mem_comp/Mram_PM12_RAMD" BEL
        "prog_mem_comp/Mram_PM13_RAMA" BEL "prog_mem_comp/Mram_PM13_RAMB" BEL
        "prog_mem_comp/Mram_PM13_RAMC" BEL "prog_mem_comp/Mram_PM13_RAMD" BEL
        "prog_mem_comp/Mram_PM14_RAMA" BEL "prog_mem_comp/Mram_PM14_RAMB" BEL
        "prog_mem_comp/Mram_PM14_RAMC" BEL "prog_mem_comp/Mram_PM14_RAMD" BEL
        "prog_mem_comp/Mram_PM15_RAMA" BEL "prog_mem_comp/Mram_PM15_RAMB" BEL
        "prog_mem_comp/Mram_PM15_RAMC" BEL "prog_mem_comp/Mram_PM15_RAMD" BEL
        "prog_mem_comp/Mram_PM16_RAMA" BEL "prog_mem_comp/Mram_PM16_RAMB" BEL
        "prog_mem_comp/Mram_PM16_RAMC" BEL "prog_mem_comp/Mram_PM16_RAMD" BEL
        "prog_mem_comp/Mram_PM17_RAMA" BEL "prog_mem_comp/Mram_PM17_RAMB" BEL
        "prog_mem_comp/Mram_PM17_RAMC" BEL "prog_mem_comp/Mram_PM17_RAMD" BEL
        "prog_mem_comp/Mram_PM18_RAMA" BEL "prog_mem_comp/Mram_PM18_RAMB" BEL
        "prog_mem_comp/Mram_PM18_RAMC" BEL "prog_mem_comp/Mram_PM18_RAMD" BEL
        "prog_mem_comp/Mram_PM19_RAMA" BEL "prog_mem_comp/Mram_PM19_RAMB" BEL
        "prog_mem_comp/Mram_PM19_RAMC" BEL "prog_mem_comp/Mram_PM19_RAMD" BEL
        "prog_mem_comp/Mram_PM2_RAMA" BEL "prog_mem_comp/Mram_PM2_RAMB" BEL
        "prog_mem_comp/Mram_PM2_RAMC" BEL "prog_mem_comp/Mram_PM2_RAMD" BEL
        "prog_mem_comp/Mram_PM20_RAMA" BEL "prog_mem_comp/Mram_PM20_RAMB" BEL
        "prog_mem_comp/Mram_PM20_RAMC" BEL "prog_mem_comp/Mram_PM20_RAMD" BEL
        "prog_mem_comp/Mram_PM21_RAMA" BEL "prog_mem_comp/Mram_PM21_RAMB" BEL
        "prog_mem_comp/Mram_PM21_RAMC" BEL "prog_mem_comp/Mram_PM21_RAMD" BEL
        "prog_mem_comp/Mram_PM3_RAMA" BEL "prog_mem_comp/Mram_PM3_RAMB" BEL
        "prog_mem_comp/Mram_PM3_RAMC" BEL "prog_mem_comp/Mram_PM3_RAMD" BEL
        "prog_mem_comp/Mram_PM4_RAMA" BEL "prog_mem_comp/Mram_PM4_RAMB" BEL
        "prog_mem_comp/Mram_PM4_RAMC" BEL "prog_mem_comp/Mram_PM4_RAMD" BEL
        "prog_mem_comp/Mram_PM5_RAMA" BEL "prog_mem_comp/Mram_PM5_RAMB" BEL
        "prog_mem_comp/Mram_PM5_RAMC" BEL "prog_mem_comp/Mram_PM5_RAMD" BEL
        "prog_mem_comp/Mram_PM6_RAMA" BEL "prog_mem_comp/Mram_PM6_RAMB" BEL
        "prog_mem_comp/Mram_PM6_RAMC" BEL "prog_mem_comp/Mram_PM6_RAMD" BEL
        "prog_mem_comp/Mram_PM7_RAMA" BEL "prog_mem_comp/Mram_PM7_RAMB" BEL
        "prog_mem_comp/Mram_PM7_RAMC" BEL "prog_mem_comp/Mram_PM7_RAMD" BEL
        "prog_mem_comp/Mram_PM8_RAMA" BEL "prog_mem_comp/Mram_PM8_RAMB" BEL
        "prog_mem_comp/Mram_PM8_RAMC" BEL "prog_mem_comp/Mram_PM8_RAMD" BEL
        "prog_mem_comp/Mram_PM9_RAMA" BEL "prog_mem_comp/Mram_PM9_RAMB" BEL
        "prog_mem_comp/Mram_PM9_RAMC" BEL "prog_mem_comp/Mram_PM9_RAMD";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

